@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

/* ===== HAMBURGER ===== */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1100;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: 0.3s ease;
}

/* Animate into X */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;

    }

    #nav-bar {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 25px 0;

        height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    #nav-bar.active {
        height: 300px;
        max-height: 600px;
        padding: 25px 0;
        opacity: 1;
    }

    #nav-bar a {
        display: block;
        width: 100%;
        padding: 20px 0;
    }
}



#logo {
    height: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font: bold 20px 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border-bottom: 1px solid rgba(8, 131, 255, 0.863);
}

@media (max-width: 768px) {

    header {
        padding: 15px;
        text-align: center;
    }

    .nav {
        flex-direction: column;
        gap: 12px;
        padding: 10px 0;
    }

    #logo {
        height: 55px;
    }
}



#logo {
    padding: 10px;
    font-size: 25px;
}


#about, #contact, #skills, #home, #work, #experience { 
    padding: 25px;
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.icon-wrapper svg {
    width: 40px;
    height: 40px;
}

.my-name {
    font-size: clamp(32px, 8vw, 72px);
    font-family: 'Poppins', sans-serif;
    color: #2679f5;
    padding-top: 1px;
}

#khaviso {
    border-radius: 400px;
    box-shadow: #007BFF 0px 4px 30px;
    transition: box-shadow 0.3s ease;
}

@media (max-width: 768px) {

    .my-name {
        font-size: 40px
    }

    #khaviso {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .my-name {
        font-size: 28px;
    }

    #khaviso {
        width: 50%    }
}

#nav-bar a:hover {
    color: #585eff;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    gap: 20px;
  }

.nav:hover {
    color: #6d72fa;
  }

label {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #fcfbfb;
    margin-top: 20px;
    display: block;
}

textarea {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fcfbfb;
    font-weight: 500;
}

p {font-size: 19px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fcfbfb;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
}

li {font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #fcfbfb;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 1px;
}

#org {
    color: #1efb5c;
    font-size: 18px;
    font: bold 16px 'Poppins', sans-serif;
    margin-bottom: 5px;
}

#ai-org {
    color: #223f7d;
    font-size: 18px;
    font: bold 16px 'Poppins', sans-serif;
    margin-bottom: 5px;
}

h1 {
    font-size: clamp(28px, 5vw, 36px);
    font-family: 'Poppins', sans-serif;
    color: #006df3;
    padding-top: 10px;
}

h2, h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}
body {
    background-image: url(media/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-top: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 320px;
    min-height: 380px;
    border-radius: 15px;
    padding: 25px;
    border: solid 2px #006df3;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    border-color: #0056b3;
  }


  .about-card {
    width: 100%;
    max-width: 800px;
    margin: 90px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.3s ease;
}



.about-card:hover {
    transform: translateY(-5px);
}

.about-card h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.about-paragraph {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Button styling */
#cv, 
#data-science {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s ease;
}

/* CV button */
#cv {
    background: #2563eb;
    color: white;
}

#cv:hover {
    background: #1e40af;
}

/* Data science button */
#data-science {
    background: transparent;
    border: 2px solid #2563eb;
    color: #ffffff;
}

#data-science:hover {
    background: #2563eb;
    color: white;
}

  .card-heading {
    margin: 0 0 15px;
    font-size: 1.4em;
    color: #ffffff;
    border-bottom: 2px solid #007BFF; /* underline accent */
    padding-bottom: 5px;
  }

.contact-section {
    max-width: 1000px;
    margin: 80px auto;
    padding: 40px;
    background: #1e293b;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
        padding: 25px;
    }

    .contact-card {
        width: 100%;
    }
}


.contact-card {
    flex-direction: column;
    flex: 1;
    background: #243447;
    padding: 40px 20px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.08);
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact-card:hover {
    transform: translateY(-8px);
    border: 1px solid #3b82f6;
    box-shadow: 0 10px 25px rgba(59,130,246,0.3);
}

.contact-card.active {
    border: 1px solid #3b82f6;
    box-shadow: 0 10px 30px rgba(59,130,246,0.4);
}

.icon-circle {
    width: 65px;
    height: 65px;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle.dark {
    background: #334155;
}

.icon-circle svg {
    width: 28px;
    height: 28px;
    color: white;
}

.contact-card h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-card p {
    color: #94a3b8;
    font-size: 14px;
}

  .description {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .site {
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg, #007BFF, #4f9cff);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
}
  .site:hover {
    background: #0056b3;
  }


* Description text */
.description {
    text-align: justify;
    font-size: 1rem;
}

/* Skill Section */
.skill-category {
    background-color: transparent;
    width: 70%;
    padding: 10px;
    margin: auto;
}

.skill-title {
    display: inline-block;
}

.skill-section {
    text-align: left;
}

.skill-name {
    margin: 0px;
    font-size: 16px;
}

.skill-item {
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}

#skill-item-1 { background-color: #787ced; }
#skill-item-2 { background-color: #6fa1f8; }
#skill-item-3 { background-color: rgb(66, 205, 248); }
#skill-item-4 { background-color: rgb(5, 80, 126); }
#skill-item-5 { background-color: rgb(27, 66, 110); }
#skill-item-6 { background-color: rgb(70, 100, 249); }
#skill-item-7 { background-color: rgb(71, 41, 237); }

/* Icons */
.fa-brands,
.fa-solid {
    font-size: 24px;
    width: fit-content;
    vertical-align: middle;
}


.division { width: 30px; }

#division-line {
    width: 1px;
    height: 40px;
    background-color: black;
}

.break { height: 30px; }


.fa-solid { font-size: 36px; color: #484b91; }

/* ====== Responsive Media Queries ====== */
@media screen and (max-width: 1024px) {
    #section1-div1,
    #section1-div2 {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .skill-category {
        width: 90%;
    }


}

@media screen and (max-width: 768px) {
    .about-card {
        width: 80%;
        margin: 10px auto;
    }

    .skill-item {
        display: block;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .skill-item {
        padding-inline: 10px;
        font-size: 14px;
    }

    .fa-brands,
    .fa-solid {
        font-size: 20px;
    }

    .about-card {
        width: 95%;
        padding: 25px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body * {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body *.show {
    opacity: 1;
    transform: translateY(0);
}


/* SECTION */
.experience-section {
  text-align: center;
}

.experience-section h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.experience-section h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #3b82f6;
  display: block;
  margin: 12px auto 0;
  border-radius: 5px;
}

/* TIMELINE */
.timeline {
    display: block;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

/* CENTER LINE */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background: #3b82f6;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* TIMELINE ITEMS */
.timeline-item {
    display: block;
  padding: 60px 40px;
  position: relative;
  width: 50%;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

@media screen and (max-width: 900px) {

  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
    padding-right: 25px;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    text-align: left;
  }

  .timeline-item::after {
    left: 13px;
    right: auto;
  }

}


/* DOTS */
.timeline-item::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  right: -7px;
  background: #3b82f6;
  border-radius: 50%;
  top: 30px;
  z-index: 1;
}

.timeline-item.right::after {
  left: -7px;
}

/* CARD */
.content {
  background: #0f1b2e;
  padding: 25px 30px;
  border-radius: 14px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(59, 130, 246, 0.3);
}

/* DATE BADGE */
.date {
  display: inline-block;
  background: #1e293b;
  color: #3b82f6;
  padding: 6px 14px;
  font-size: 0.85rem;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

/* TEXT */
.content h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: 600;
}

.content h4 {
  color: #3b82f6;
  font-weight: 500;
  margin-bottom: 15px;
}

.content ul {
  padding-left: 18px;
}

.content ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #cbd5e1;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {


  .timeline-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 25px;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-item::after {
    left: 1px;
  }
}

.contact-form textarea, input {
    background-color: #111;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    gap: 100px;
    outline: none;
    transition: 0.3s ease;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 25px;
}

button {
    background-color: #3b82f6;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    font: bold 18px 'Poppins', sans-serif;  
}

@media screen and (max-width: 768px) {
    button {
        font-size: 18px;
        width: 50%;
    }

    .contact-form input,
    .contact-form textarea {
        width: 50%;
    }
}



footer {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font : 14px 'Inter', sans-serif;
}